<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hacker New Stories</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <div class="search-form">
        <h3><center>Hacker News Every Day!</center></h3>
        <div class="col-sm-12 input-box">
            <input type="text" name="" class="form-control input-lg" id="title" placeholder="Title...">
        </div>
        <div class="col-sm-12 input-box">
            <input type="text" name="" class="form-control input-lg" id="content" placeholder="Context...">
        </div>
        <!-- <div class="col-sm-12">
                <input type="text" name="" class="form-control input-lg" id="" placeholder="Date...">
            </div> -->
        <div class="col-sm-12 input-box">
            <button class="btn btn-primary col-sm-12 btn-lg" id="search">Search</button>
        </div>
    </div>
</body>
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/index.js"></script>

</html>