<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Hackers! Enjoy your searching journey</title>
    <link rel="shortcut icon" href="/images/hacker2.jpeg" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/daterangepicker.css">
    <link rel="stylesheet" href="/styles/paging.css" />
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <div class="modal fade" tabindex="-1" role="dialog" id="search-msg">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/images/hacker.png"/>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Oop!</h4>
                </div>
                <div class="modal-body">
                    <p> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Search Form Section -->
    <div class="search-form row" id="search-form">
        <div class="search-engine-logo col-xs-12 input-box" id="search-engine-logo">
            <a href="/">
                <img src="/images/hacker2.jpeg" alt="Hacker News Every Day!" />
            </a>
        </div>
        <div class="col-xs-12 input-box " id="title-box">
            <input type="text" name="" class="form-control input-lg" id="title" placeholder="Title...">
        </div>
        <div class="col-xs-12 input-box " id="text-box">
            <input type="text" name="" class="form-control input-lg" id="context" placeholder="Context...">
        </div>
        <div class="col-xs-12 input-box " id="time-table-box">
            <input type="text" readonly id="demo" class="form-control input-lg" value="06/20/2017 - 06/30/2017">
            <i class="fa fa-calendar" id="time-table-icon"></i>
        </div>
        <div class="col-xs-12 input-box " id="search-button-box">
            <button class="btn col-sm-12 btn-lg" id="search">
                <span class="search-btn-text ">Hack it!</span>
                <span class="search-btn-text ">&nbsp;</span>
                <span class="fa fa-search search-icon"></span>
            </button>
        </div>
    </div>
    <div class="search-result-area row">
        <div class="search-result col-lg-9 col-md-10 col-sm-12 row" id="search-result">
        </div>
        <div class="search-result col-lg-3 col-md-2 hidden-sm blank row"></div>
    </div>
    <div class="waiting-gif-box row" id="waiting-gif-box">
        <div class="col-lg-2 hidden-md"></div>
        <div class="col-lg-8 col-sm-12">
            <img src="/images/waiting.gif" id="waiting-gif" />
        </div>
        <div class="col-lg-2 hidden-md"></div>
    </div>
</body>
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/moment.min.js"></script>
<script src="/javascript/date.js"></script>
<script src="/javascript/daterangepicker.js"></script>
<script src="/javascript/paging.js"></script>
<script src="/javascript/index.js"></script>
<script type="text/javascript">
    //翻页
</script>

</html>