.search-form{
    width: 400px;
    margin: 0 auto;
    margin-top:200px
}

.input-box{
    margin:5px 10px ;
}

div#time-table-box{
    position: relative;
}
i#time-table-icon{
    position: absolute;
    right: 23px;
    top: 6.5px;
    font-size: 32px;
}