@font-face {
    font-family: 'MetalMacabre';
    src: url('/fonts/MetalMacabre.ttf');
}

@font-face {
    font-family: 'Kill The Lights';
    src: url('/fonts/Kill The Lights.ttf');
}

@font-face {
    font-family: 'BloodA';
    src: url('/fonts/BloodA.ttf');
}

@font-face {
    font-family: 'BloodB';
    src: url('/fonts/BloodB.ttf');
}

body {
    height: -webkit-fill-available;
    font-family: 'Kill The Lights';
    font-weight: 600;
}

button.close {
    font-size: 30px;
    color: #000;
    opacity: 1;
}

div.row {
    margin: 0;
}

input.form-control:focus {
    border-color: #666666;
    outline: 0;
}

.btn-success {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-success:hover {
    color: #000;
    background-color: #ddd;
    border-color: #000;
}

div#search-msg.modal {
    background-color: #101010;
}

div#search-msg div.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%
}

div#search-msg h4.modal-title {
    line-height: 50px;
    margin-left: 10px;
    float: left;
    font-family: 'BloodA';
    font-size: 40px;
    font-weight: 1000
}

div#search-msg div.modal-body p {
    font-size: 30px;
    font-family: 'BloodA';
}

div#search-msg div.modal-content {
    border-radius: 0px;
    border: 1px solid black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

div#search-msg div.modal-footer button {
    color: white;
    background-color: black;
    border-radius: 0px;
    font-size: 25px;
    font-weight: 800;
    font-family: BloodB;
}

div#search-msg div.modal-footer button:hover {
    color: black;
    background-color: white;
}

div#search-msg div.modal-header img {
    width: 50px;
    float: left;
}

div.search-form {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.search-form.after-search {
    width: 100%;
    height: 70px;
    padding: 5px 45px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 0.5px 5px #333333;
}

div.search-engine-logo {
    padding: 0 90px 30px;
}

div.search-form.after-search div#search-engine-logo {
    width: auto;
    height: auto;
}

div.search-engine-logo img {
    width: 100%;
}

div.search-form.after-search div.search-engine-logo img {
    height: 46px;
    width: auto;
}

div.search-result-area {
    margin: 0;
    padding-top: 80px;
}

div.search-result {
    height: fit-content;
    padding: 0 30px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
}

div.input-box {
    margin: 5px 10px;
}

div#time-table-box {
    position: relative;
}

i#time-table-icon {
    position: absolute;
    right: 23px;
    top: 6.5px;
    font-size: 32px;
}

div.article-page {
    height: fit-content;
}

div.article-item {
    padding: 5px 0;
}

div.article-title {
    color: rgb(26, 26, 26);
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    line-height: 27px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.article-url {
    padding: 0px;
}

div.article-url-text {
    word-break: hyphenate;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(0, 102, 33);
    cursor: pointer;
    display: inline;
    font-family: arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    line-height: 20px;
    padding-top: 1px;
    padding-left: 0px;
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
}

div.article-text-box {
    padding: 0px;
    display: inline-flex;
}

span.publish-time {
    max-width: 20%;
    white-space: nowrap;
    color: rgb(128, 128, 128);
    display: block;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 25px;
    line-height: 20px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    white-space: nowrap;
    float: left;
}

span.article-text {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(84, 84, 84);
    display: inline;
    font-size: 16px;
    font-weight: 600;
    height: 25px;
    line-height: 22.5px;
    text-align: left;
    max-width: -webkit-fill-available;
    text-overflow: ellipsis;
}

span.date-to-text-icon {
    float: left;
    white-space: nowrap;
    color: rgb(84, 84, 84);
    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 25px;
    line-height: 20.02px;
    text-align: left;
}

div.search-form.after-search h3.title {
    display: none;
}

div.search-form.after-search div.input-box {
    width: 20%;
    padding: 0;
    margin: 7px 2px;
    border-color: #333;
}

div.search-form.after-search div.input-box input {
    border-width: 1px;
    border-color: #777777;
    padding: 0 10px;
    border-radius: 0px;
}

div.search-form.after-search div.input-box#title-box {
    width: 10%;
    max-width: 200px;
}

div.search-form.after-search div.input-box#text-box {
    width: 30%;
    max-width: 400px;
}

div.search-form.after-search div.input-box#time-table-box {
    width: 260px;
    padding: 0;
}

div.search-form.after-search div.input-box input {
    padding: 0 10px;
    border-radius: 0px;
}

div.search-form.after-search div.input-box i#time-table-icon {
    right: 10px;
}

div.input-box button {
    border: 1px solid black;
    background-color: #000;
    color: white;
    font-family: MetalMacabre;
    font-size: 24px;
    line-height: 40px;
    height: 46px;
    width: 100%;
}

div.input-box button:hover {
    background-color: #ddd;
    color: black;
    border: 1px solid black;
}

div.input-box button:focus {
    color: #fff;
    background-color: black;
}

div.search-form.after-search div.input-box button {
    padding: 10px;
    border-radius: 0px;
    border-color: #000;
}

div.search-form.after-search div.input-box button:hover {
    color: black;
    background-color: #ddd;
    border-color: #000;
}

div.search-form.after-search div#search-button-box {
    width: 46px;
    height: 46px;
}

div.search-form.after-search div#search-button-box span.search-btn-text {
    display: none;
}

div#search-button-box span.search-icon {
    font-size: 25px;
}

div.search-no-result {
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
}

div.search-no-result:hover {
    color: #22e;
    cursor: pointer;
}

div.waiting-gif-box {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 80px;
    float: left;
    display: none;
}

div.waiting-gif-box img {
    width: 100%;
}

button.search {
    width: 100%;
}