div.zxf_pagediv{
	text-align: center;
	color: #999999;
	padding: 20px 20px 40px 0;
	float: left;
	width: 860px;
}
div.zxf_pagediv a{
	text-decoration: none;
	
}
div.zxf_pagediv span,div.zxf_pagediv a{
	display: inline-block;
	box-sizing: border-box;
}
.current{
	color: #fff;
    border-color: #000;
	width: 40px;
	border-radius: 3px;
	background-color: #000;
    font-size: 24px;
    line-height: 45px;
    height: 46px;
}
.current:hover{
	background-color: #ddd;
	border:1px solid #444;
	color:#000
}
.zxfPagenum{
	color: #666;
	background: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	border-radius: 3px;
}
.nextpage{

	margin: 0 5px;
}
.nextbtn,.prebtn,span.disabled{
	color: #666;
	background: #fff;
	width: 88px;
	height: 42px;
	line-height: 42px;
	border-radius: 3px;
}
.zxfinput{
	width: 50px;
	height: 42px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #E6E6E6;
	margin: 0 12px;
	border-radius: 3px;
	color: #666;
}
.zxfokbtn{
	width: 100px;
    height: 40px;
    line-height: 10px;
    border: 1px solid #000;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    background-color: #000;
}
.zxfokbtn.disable {
	width: 100px;
    height: 40px;
    line-height: 10px;
    border: 1px solid #000;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    background-color: #444;
}

.zxfokbtn:hover{
	background-color: #ddd;
	color: #000;
	border-color: #444;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
